<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>FilmsApp | Film catalogue management application</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2 th:text="${title}"
        class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
    <form th:action="@{/creviews/save/}" method="post" th:object="${review}">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
            Please correct the following errors:
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
        </div>
        <div class="mb-3">
            <label for="rating" class="form-label">rating</label>
            <input type="text" class="form-control" th:field="*{rating}" id="rating" name="rating"
                   placeholder="Write what do you think about this movie" required="required">
        </div>

        <div class="mb-3">
            <label for="note" class="form-label">note</label>
            <select class="form-select" th:field="*{note}" name="note" id="note">
                <option th:value="1">1</option>
                <option th:value="2">2</option>
                <option th:value="3">3</option>
                <option th:value="4">4</option>
                <option th:value="5">5</option>
                <option th:value="6">6</option>
                <option th:value="7">7</option>
                <option th:value="8">9</option>
                <option th:value="9">9</option>
                <option th:value="10">10</option>
            </select>
        </div>

        <!--  below small hack to pass the id of the film to reviews service, without it thymeleaf was setting it to null :((  -->
        <div style="visibility: hidden">
            <input type="text" class="form-control" th:field="*{idFilm}" id="idFilm" name="idFilm">
        </div>

        <button type="submit" class="btn btn-dark">Save</button>
        <input type="hidden" th:value="${film.idFilm}" th:field="*{idReview}"/>
    </form>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/cfilms/}">Go back to the main page</a>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>