<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>FilmsApp | Film catalogue management application</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 class="text-center">Manage films and actors</h1>
    <hr>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Films list</h3>
                <a class="page-link" th:href="@{/cfilms/list}">
                    Films list
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Search films</h3>
                <a class="page-link" th:href="@{/cfilms/search}">
                    Search films
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">List actors</h3>
                <a class="page-link" th:href="@{/cactors/list}">
                    List of the actors
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Search actors</h3>
                <a class="page-link" th:href="@{/cactors/search}">
                    Search actors
                </a>
            </div>
        </div>
<!--        <div class="card">-->
<!--            <div class="card-body">-->
<!--                <h3 class="card-title">Listado usuarios</h3>-->
<!--                <a class="page-link" th:href="@{/cusuarios/listado}">-->
<!--                    Listado de usuarios-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="card">-->
<!--            <div class="card-body">-->
<!--                <h3 class="card-title">Listado matrículas</h3>-->
<!--                <a class="page-link" th:href="@{/cmatriculas/listado}">-->
<!--                    Listado de matrículas-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->

    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>