<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>FilmsApp | Film catalogue management application</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2 th:text="${title}"
        class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
    <form th:action="@{/cactors/save/}" method="post" th:object="${actor}" enctype="multipart/form-data">
        <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>
            Please correct the following errors:
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
            </ul>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" th:field="*{name}" id="name" name="name"
                   placeholder="Set the name of the actor" required="required">
        </div>
        <div class="mb-3">
            <label for="birthdate" class="form-label">Year</label>
            <input type="date" class="form-control" th:field="*{birthdate}" id="birthdate" name="birthdate"
                   placeholder="Set the birthdate of the actor in format dd.mm.yyyy" required="required">
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" th:field="*{country}" id="country" name="country"
                   placeholder="Set the origin country of the actor" required="required">
        </div>

        <button type="submit" class="btn btn-dark">Save</button>
        <input type="hidden" th:field="*{idActor}"/>
        <!--        <input type="hidden" th:field="*{image}"/>-->
    </form>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/cfilms/}">Go to the main page</a>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>